html {
  overscroll-behavior: none;
}

:root {
  --neutral: #bababa;
  --highlight: #a8ff79;
  --highlight-contrast: black;
--background-color: var(--neutral);
}

body {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: start;
  background-color: var(--background-color);
}

body div,
body section,
body nav,
body footer {
  background-color: var(--background-color) !important;
}

body div.z-\[70\] {
  display: none;
}

/* /FULL SCREEN HERO */

.HeaderHero .MainBlockContainer--first-slot,
.HeaderHero .DefaultBlockContainer--first-slot {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: calc(var(--spacing-base-unit)*8);;
}

/* LINKS */

.SolidLink__base-size {
  border-radius: 9999px;
  padding: 1rem 2rem;
  background-color: var(--highlight);
  color: var(--highlight-contrast);
  font-size: calc(var(--text-base-unit)*12);
  line-height: calc(var(--text-line-base-unit)*16);
  &:hover {
    background-color: var(--highlight);
    color: var(--highlight-contrast);
  }
}

.SolidLink__base-size {
  --highlight: white;
  border-radius: 9999px;
  padding: 1rem 2rem;
  background-color: var(--highlight);
  color: var(--highlight-contrast);
  font-size: calc(var(--text-base-unit)*12);
  line-height: calc(var(--text-line-base-unit)*16);
  &:hover {
    background-color: var(--highlight);
    color: var(--highlight-contrast);
  }
}

.OutlineLink__base-size {
  --highlight: transparent;
  border: 1px solid var(--highlight-contrast);
  border-radius: 9999px;
  padding: 1rem 2rem;
  background-color: var(--highlight);
  color: var(--highlight-contrast);
  font-size: calc(var(--text-base-unit)*12);
  line-height: calc(var(--text-line-base-unit)*16);
  &:hover {
    background-color: var(--highlight);
    color: var(--highlight-contrast);
  }
}

.TextLink__base-size {
  --highlight: transparent;
  padding: 0 !important;
  color: var(--highlight-contrast);
  font-size: calc(var(--text-base-unit)*12);
  line-height: calc(var(--text-line-base-unit)*16);
  &:hover {
    background-color: var(--highlight);
    color: var(--highlight-contrast);
  }
}

/* Default block */

.DefaultBlock {
  @apply relative w-full pt-4 pb-8 -mb-4 overflow-hidden flex flex-col items-stretch justify-start gap-4;
}

.DefaultBlock--container {
  @apply px-4 overflow-hidden w-full grid grid-cols-1 lg:grid-cols-2 gap-4 group-data-[has-text=false]:lg:grid-cols-1 group-data-[has-image=false]:lg:grid-cols-1 group-data-[has-items=true]:border-b group-data-[has-items=true]:pb-4;
}

.DefaultBlockContainer--first-slot {
  @apply flex flex-col gap-4 items-start justify-start rounded-default overflow-hidden;
}

.DefaultBlockContainer--second-slot {
  @apply overflow-hidden rounded-default;
}

.DefaultBlock--items-wrapper {
  @apply overflow-hidden rounded-default;
}

.DefaultBlock--items-container {
  @apply px-4
}

.DefaultBlock--columns-container {
  @apply px-4;
}

.DefaultBlock--title {
  @apply text-sm lg:text-base uppercase text-neutral-400 font-medium w-full max-w-4xl;
}

.DefaultBlock--icon {
  @apply w-4 h-4 lg:w-6 lg:h-6 text-current inline-block
}

.DefaultBlock--clickable-title {
  @apply cursor-pointer text-sm font-normal w-full max-w-4xl uppercase hover:underline;
}

.DefaultBlock--description {
  @apply text-xl lg:text-3xl font-normal w-full max-w-4xl;
}

.DefaultBlock--attachment {
  @apply relative rounded-default overflow-hidden aspect-square group-data-[has-text=false]:aspect-auto group-data-[is-video=true]:aspect-video w-full dark:opacity-80;
}

.DefaultBlock--link {
  @apply text-sm px-2 py-1 rounded-full border border-black hover:border-neutral-300;
}

/* Main block */

.MainBlock {
  @apply relative w-full pt-4 pb-8 overflow-hidden flex flex-col gap-8 -mb-4;
}

.MainBlock--container {
  @apply px-4 w-full h-full flex flex-col items-stretch justify-start gap-4 group-data-[has-items=true]:border-b group-data-[has-items=true]:pb-4;
}

.MainBlockContainer--first-slot {
  @apply flex flex-col lg:flex-row items-end justify-end lg:justify-between pt-32 lg:pt-0 aspect-auto lg:aspect-[3/1] gap-4 lg:gap-0 w-full;
}

.MainBlockContainer--second-slot {
  @apply w-full rounded-default overflow-hidden lg:col-span-2 ;
}

.MainBlock--items-wrapper {
  @apply w-full px-4;
}

.MainBlock--items-container {
  @apply w-full;
}

.MainBlock--columns-container {
  @apply mx-auto;
}

.MainBlock--title {
  @apply text-2xl lg:text-3xl w-full lg:w-1/2 flex-none flex items-end justify-start
}

.MainBlock--icon {
  @apply w-4 h-4 lg:w-6 lg:h-6 text-current inline-block
}

.MainBlock--clickable-title {
  @apply text-sm font-normal max-w-screen-lg w-full uppercase hover:underline;
}

.MainBlock--description {
  @apply flex flex-col items-start lg:items-end justify-start lg:justify-end text-sm lg:text-right w-full lg:w-1/2 flex-none gap-4
}

.MainBlock--attachment {
  @apply relative aspect-[2/1] group-data-[is-video=true]:aspect-video w-full overflow-hidden dark:opacity-80 rounded-default;
}

.MainBlock--link {
  @apply text-sm px-2 py-1 rounded-full border border-black hover:border-neutral-300;
}

/* Main Custom HTML block */

.MainCustomHTMLBlock {
  @apply w-full bg-white dark:bg-revas-neutral-900;
}

.MainCustomHTMLBlock--container {
  @apply w-full bg-white dark:bg-revas-neutral-900;
}

/* Default Custom HTML block */

.DefaultCustomHTMLBlock {
  @apply bg-revas-white dark:bg-revas-neutral-900 p-4 flex items-center justify-center max-w-screen-xl mx-auto;
}

/* BLOCK ITEMS */

/* Grid */

.BlockItemsGrid {
  @apply w-full grid grid-cols-1 lg:grid-cols-3 data-[cols="2"]:lg:grid-cols-2 data-[cols="4"]:lg:grid-cols-4 gap-4;
}

.GridBlockItem {
  @apply w-full h-full relative;
}

.GridBlockItem--container {
  @apply w-full h-full flex flex-col items-stretch justify-start gap-2;
}

.GridBlockItemContainer--second-slot {
  @apply flex-1 flex flex-col gap-1 items-start justify-start w-auto h-auto;
}

.GridBlockItemContainer--first-slot {
  @apply flex-1 w-full h-auto bg-white;
}

.GridBlockItem--title {
  @apply text-xl text-black;
}

.GridBlockItem--description {
  @apply text-base opacity-60 ;
}

.GridBlockItem--attachment {
  @apply group-data-[is-item-video=true]:aspect-video overflow-hidden rounded-default data-[is-clickable=true]:group-data-[is-grid-item]:group-hover:opacity-50 w-full;
}

.GridBlockItem--link {
  @apply text-sm bg-neutral-100 rounded-full px-3 py-1 hover:bg-black hover:text-white;
}

/* Columns */

.BlockItemsColumns {
  @apply w-full grid grid-cols-1 lg:grid-cols-3 data-[cols="2"]:lg:grid-cols-2 data-[cols="4"]:lg:grid-cols-4 gap-4 bg-white;
}

.BlockItemsColumns--column {
  @apply flex flex-col gap-4 items-stretch justify-start
}

.ColumnsBlockItem {
  @apply w-full block bg-transparent relative overflow-hidden;
}

.ColumnsBlockItem--container {
  @apply w-full;
}

.ColumnsBlockItemContainer--second-slot {
  @apply shrink-0 grow flex flex-col gap-1 items-stretch justify-center w-auto h-auto border-t border-black group-data-[has-item-image=false]:border-0 bg-white;
}

.ColumnsBlockItemContainer--first-slot {
  @apply flex-none w-auto h-auto bg-white;
}

.ColumnsBlockItem--title {
  @apply text-sm font-normal;
}

.ColumnsBlockItem--description {
  @apply text-sm font-normal;
}

.ColumnsBlockItem--attachment {
  @apply w-fit max-w-full border rounded-default overflow-hidden block dark:opacity-80 group-data-[is-item-video=true]:aspect-video data-[is-clickable=true]:group-data-[is-column-item]:group-hover:opacity-50;
}

.ColumnsBlockItem--link {
  @apply text-sm font-normal underline underline-offset-2 decoration-dotted uppercase;
}

/* Linear */

.BlockItemsLinear {
  @apply w-full flex flex-col items-stretch justify-start;
}

.BlockItemsLinear > * {
  @apply border-b py-4 lg:py-8;
}

.BlockItemsLinear :last-child {
  @apply border-none;
}

.LinearBlockItem {
  @apply w-full;
}

.LinearBlockItem--container {
  @apply w-full h-full grid grid-cols-12 gap-4;
}

.LinearBlockItemContainer--first-slot {
  @apply hidden;
}

.LinearBlockItemContainer--second-slot {
  @apply grid grid-cols-1 lg:grid-cols-12 gap-4 col-span-12;
}

.LinearBlockItem--title {
  @apply text-sm uppercase font-normal col-span-1 lg:col-span-4;
}

.LinearBlockItem--description {
  @apply text-sm uppercase font-normal col-span-1 lg:col-span-6;
}

.LinearBlockItem--attachment {
  @apply aspect-square group-data-[is-item-video=true]:aspect-video overflow-hidden rounded-default w-8 dark:opacity-80;
}

.LinearBlockItem--link {
  @apply text-sm font-normal underline underline-offset-2 decoration-dotted uppercase lg:col-span-2 flex items-center justify-start gap-2;
}

/* HEADER */

.Header {
  @apply fixed lg:static bottom-0 z-50 inset-x-0 w-full mx-auto p-4;
}

.Header--desktop-wrapper {
  @apply w-full h-full relative z-30;
}

.Header--container {
  @apply w-full h-full flex items-center justify-between gap-px;
}

.Header--title {
  @apply flex items-center relative z-30 justify-center uppercase underline px-4 decoration-dotted rounded-full py-2 border border-black bg-white lg:bg-transparent lg:border-none
}

.Header--logo {
  @apply h-10 lg:h-12 relative z-30 flex-none overflow-hidden dark:opacity-80 object-contain object-left active:scale-[0.9] transition-all duration-300 ease-in-out;
}

.Header--desktop-links {
  @apply items-center justify-between gap-4 flex-1 flex;
}

.Header--desktop-links-wrapper {
  @apply flex-1 flex items-center justify-between;
}

.Header--desktop-link {
  @apply hidden lg:flex items-center justify-center uppercase underline px-4 decoration-dotted;
}

.Header--desktop-main-link {
  @apply  hidden lg:flex items-center justify-center gap-1 uppercase underline px-4 decoration-dotted;
}

.Header--menu-button {
  @apply lg:hidden h-full z-30 flex items-center justify-center rounded-full bg-white border p-4 text-black dark:text-revas-neutral-200;
}

.Header--mobile-wrapper {
  @apply shadow-xl absolute inset-x-0 bottom-0 px-4 pt-8 z-20 bg-white pb-20 lg:hidden data-[hide=true]:opacity-0 data-[hide=true]:pointer-events-none data-[hide=true]:sr-only;
}

.Header--mobile-links {
  @apply flex flex-wrap gap-8 items-start justify-start;
}

.Header--mobile-link {
  @apply w-full block text-3xl underline decoration-dotted underline-offset-2;
}

.Header--mobile-main-link {
  @apply rounded-default mt-8 px-4 py-2 text-3xl bg-neutral-100 flex-1 flex items-center justify-center gap-2
}

.Header--mobile-main-link svg {
  @apply hidden lg:block
}

/* NOTIFICATION */

.Notification {
  @apply p-2 lg:p-4 w-full border-b h-fit;
}

.Notification--container {
  @apply  w-full flex items-center justify-between lg:justify-center gap-4;
}

.Notification--title {
  @apply text-black text-sm lg:text-base;
}

.Notification--description {
  @apply hidden lg:block text-black text-base;
}

.Notification--link {
  @apply text-black text-sm lg:text-base underline underline-offset-2 decoration-dotted flex items-center justify-center gap-1;
}

/* MAIN ITEM */

.MainItem {
  @apply w-full border-y border-revas-neutral-200 dark:border-revas-neutral-700 p-4 lg:p-8;
}

.MainItem--container {
  @apply flex flex-col items-center justify-center gap-4 lg:gap-8 group-data-[has-image=false]:lg:py-16;
}

.MainItemContainer--first-slot {
  @apply grow shrink p-4 gap-4 flex flex-col items-center justify-center w-auto h-auto group-data-[has-image=false]:items-center group-data-[has-image=false]:text-center;
}

.MainItemContainer--second-slot {
  @apply grow shrink-0 p-0 w-full h-auto;
}

.MainItem--title {
  @apply text-2xl lg:text-4xl max-w-xl;
}

.MainItem--description {
  @apply text-xl opacity-70  max-w-2xl list-disc list-inside;
}

.MainItem--attachment {
  @apply relative group-data-[is-video=true]:aspect-video w-full overflow-hidden dark:opacity-80 rounded-default;
}

.MainItem--link {
  @apply rounded-full px-4 py-2 border border-black hover:border-neutral-300 text-base;
}

/* FOOTER */

.Footer {
  @apply bg-white;
}

.Footer--logo {
  @apply h-4 lg:h-6 overflow-hidden dark:opacity-80;
}

.Footer--container {
  @apply p-4 flex flex-col lg:flex-row gap-4 pb-16;
}

.Footer--links-header {
  @apply text-sm opacity-60
}

.Footer--links {
  @apply flex flex-col gap-4 items-start justify-start shrink w-full lg:w-1/5;
}

.Footer--link {
  @apply flex items-center justify-center uppercase underline decoration-dotted text-sm
}

.Footer--socials {
  @apply flex flex-col gap-4 items-start justify-start shrink w-full lg:w-1/5;
}

.Footer--authors {
  @apply flex flex-col gap-4 items-start justify-start flex-1 w-full lg:w-1/3;
}

.Footer--foot {
  @apply h-fit flex gap-2 flex-col p-4 lg:flex-row lg:items-center lg:justify-between text-neutral-400;
}

.FooterFoot--container {
  @apply w-full flex flex-col lg:flex-row lg:items-center justify-start lg:justify-between text-sm gap-1 lg:gap-2;
}

/* AUTHOR */

.Author {
  @apply flex flex-col items-start justify-start gap-2;
}

.Author--container {
  @apply shrink-0 grow-0 w-fit h-fit p-0 flex flex-col gap-2 items-start justify-start;
}

.Author--title {
  @apply max-w-2xl text-sm text-revas-neutral-900 dark:text-revas-neutral-300;
}

.Author--description {
  @apply text-sm text-revas-neutral-500 dark:text-revas-neutral-500 max-w-lg;
}

.Author--image {
  @apply h-12 overflow-hidden dark:opacity-80 box-content flex items-start justify-start;
}

.Author--links {
  @apply flex flex-wrap gap-2 lg:gap-4 items-center justify-start;
}

.Author--link {
  @apply flex items-center justify-center underline decoration-dotted text-sm;
}

/* SOCIALS */

.SocialLink--icon {
  @apply text-current fill-current stroke-current w-4 h-4;
}

/* ATTACHMENT */

.Attachment--video {
  @apply h-full w-full;
}

.Attachment--figure {
  @apply w-full h-full relative overflow-hidden block data-[is-loaded=false]:bg-revas-neutral-100 data-[is-loaded=false]:animate-pulse;
}

.AttachmentFigure--picture {
  @apply h-full w-full overflow-hidden block;
}

.AttachmentFigure--caption {
  @apply absolute inset-x-0 bottom-0 translate-y-full z-10 mt-4 text-center text-sm text-revas-neutral-400;
}

.AttachmentPicture--source {
  @apply w-full h-full object-cover;
}

.AttachmentPicture--image {
  @apply w-full h-full object-cover group-data-[attachment-object=contain]:object-contain group-data-[attachment-width=auto]:w-auto;
}

/* FEED */

.FeedBlockItem {
  @apply w-full h-full relative overflow-hidden;
}

.FeedBlockItem--container {
  @apply w-full h-full flex flex-col-reverse items-stretch justify-start gap-4 overflow-hidden;
}

.FeedBlockItemContainer--second-slot {
  @apply flex-1 flex flex-col gap-1 items-start justify-start w-auto h-auto;
}

.FeedBlockItemContainer--first-slot {
  @apply flex-1 w-full h-auto bg-white;
}

.FeedBlockItem--title {
  @apply text-xl text-black;
}

.FeedBlockItem--description {
  @apply text-base opacity-60 prose prose-p:mt-0 prose-ul:mt-0;
}

.FeedBlockItem--date {
  @apply text-base opacity-60 prose prose-p:mt-0 prose-ul:mt-0;
}

.FeedBlockItem--attachment {
  @apply aspect-[3/2] group-data-[is-item-video=true]:aspect-video overflow-hidden rounded-default data-[is-clickable=true]:group-data-[is-grid-item]:group-hover:opacity-50 w-full;
}

.FeedBlockItem--attachment-image {
  @apply  aspect-[3/2] group-data-[is-item-video=true]:aspect-video overflow-hidden rounded-default data-[is-clickable=true]:group-data-[is-grid-item]:group-hover:opacity-50 w-full group-data-[feed-item=true]:group-hover:scale-110 transition-all duration-300 ease-in-out  h-full relative;
}

.FeedPage {
  @apply w-full bg-white dark:bg-revas-neutral-900 flex-1 flex flex-col items-stretch justify-start gap-8 pb-8
}

.FeedPage--header-container {
  @apply px-4 w-full h-full flex flex-col items-stretch justify-start gap-4 border-b pb-4
}

.FeedPage--header {
  @apply flex flex-col lg:flex-row items-end justify-end lg:justify-between pt-32 lg:pt-0 aspect-auto lg:aspect-[3/1] gap-4 lg:gap-0 w-full;
}

.FeedPage--title {
  @apply text-2xl lg:text-3xl w-full lg:w-1/2 flex-none flex items-end justify-start
}

.FeedPage--description {
  @apply flex flex-col items-start lg:items-end justify-start lg:justify-end text-sm lg:text-right w-full lg:w-1/2 flex-none gap-4
}

.FeedPage--items-container {
  @apply w-full px-4;
}

.FeedPage--items {
  @apply w-full mx-auto grid grid-cols-1 lg:grid-cols-3 gap-x-4 gap-y-16
}

/* CONTENT */

.ContentPage {
  @apply relative w-full pt-4 pb-8 overflow-hidden flex flex-col items-stretch justify-start gap-4;
}

.ContentPage--header {
  @apply w-full
}

.ContentHeader--container {
  @apply px-4 overflow-hidden w-full grid grid-cols-1 lg:grid-cols-2 gap-4 group-data-[has-text=false]:lg:grid-cols-1 group-data-[has-image=false]:lg:grid-cols-1 border-b pb-4
}

.ContentHeaderContainer--first-slot {
  @apply flex flex-col gap-4 items-start justify-start rounded-default overflow-hidden;
}

.ContentHeaderContainer--second-slot {
  @apply overflow-hidden rounded-default;
}

.ContentHeader--feed-title {
  @apply text-sm lg:text-base uppercase text-neutral-400 font-medium w-full max-w-4xl;
}

.ContentHeader--title {
  @apply text-xl lg:text-3xl font-normal w-full max-w-4xl;
}

.ContentHeader--description {
  @apply text-lg lg:text-xl font-normal w-full max-w-4xl;
}

.ContentHeader--published-date {
  @apply text-sm px-2 py-1 rounded-full border border-neutral-300
}

.ContentHeader--attachment {
  @apply relative rounded-default overflow-hidden aspect-square group-data-[has-text=false]:aspect-auto group-data-[is-video=true]:aspect-video w-full dark:opacity-80;
}

.ContentPage--content {
  @apply prose-sm dark:prose-invert mx-auto w-full max-w-screen-md prose-p:text-sm prose-a:text-sm prose-a:underline prose-a:underline-offset-2 prose-a:decoration-dotted prose-a:text-primary prose-a:dark:text-revas-neutral-300 prose-h1:text-2xl prose-h2:text-xl prose-h3:text-lg prose-h4:text-sm prose-h5:text-sm prose-h6:text-sm prose-h1:lg:text-3xl prose-h2:lg:text-2xl prose-h3:lg:text-xl prose-h4:lg:text-lg prose-h5:lg:text-sm prose-h6:lg:text-sm p-4 lg:p-8
}

/* TOOLBAR */

/* LOCALE CONFIGURATOR */

.Toolbar--locale-configurator {
  @apply flex relative z-[70] uppercase
}

.LocaleConfigurator--trigger-button {
  @apply py-1 px-2 text-sm font-medium leading-none rounded-default active:scale-[0.98] border text-revas-neutral-800 hover:bg-revas-neutral-100 focus:bg-revas-neutral-100 data-[state=open]:bg-revas-neutral-200 uppercase inline-flex items-center justify-center gap-1;
}

.LocaleConfigurator--trigger-icon {
  @apply w-4 h-4 text-current;
}

.LocaleConfigurator--navigation-menu {
  @apply w-[200px] bg-white border border-black shadow-lg [animation-duration:_400ms] [animation-timing-function:_cubic-bezier(0.16,_1,_0.3,_1)] will-change-[transform,opacity] relative z-50 flex flex-col
}

.LocaleNavigationMenu--link {
  @apply uppercase p-4 border-b border-black bg-white hover:bg-neutral-100 underline decoration-dotted underline-offset-2 data-[state=checked]:bg-revas-neutral-100 data-[state=checked]:opacity-60 data-[state=checked]:pointer-events-none data-[state=checked]:cursor-not-allowed flex-1 text-sm text-center
}

.LocaleConfigurator--viewport {
  @apply absolute top-full right-0 flex w-[100px] justify-center
}

.LocaleConfigurator--viewport-container {
  @apply data-[state=open]:animate-scaleIn data-[state=closed]:animate-scaleOut relative mt-[10px] h-[var(--radix-navigation-menu-viewport-height)] w-full origin-[top_center] overflow-hidden rounded-[6px] bg-white transition-[width,_height] duration-300 sm:w-[var(--radix-navigation-menu-viewport-width)]
}

.LocaleConfigurator--label {
  @apply text-xs font-semibold text-revas-neutral-700
}

.LocaleConfigurator--radio-group {
  @apply inline-flex flex-col items-stretch justify-start gap-1
}

/* ACCESSIBILITY CONFIGURATOR */

.ToolBar--accessibility-configurator {
  @apply flex z-50
}

.AccessibilityConfigurator--trigger-button {
  @apply py-1 px-2 text-sm font-medium leading-none rounded-default active:scale-[0.98] border text-revas-neutral-800 hover:bg-revas-neutral-100 focus:bg-revas-neutral-100 data-[state=open]:bg-revas-neutral-200 inline-flex items-center justify-center gap-1
}

.AccessibilityConfigurator--trigger-icon {
  @apply w-4 h-4 text-current;
}

.AccessibilityConfigurator--menu-content {
  @apply w-[90vw] lg:w-[28vw] lg:max-w-xs bg-white rounded-inner p-2 shadow-lg border [animation-duration:_400ms] [animation-timing-function:_cubic-bezier(0.16,_1,_0.3,_1)] will-change-[transform,opacity] z-50 flex flex-col gap-1
}

.AccessibilityMenu--label {
  @apply text-sm font-semibold text-revas-neutral-700
}

.AccessibilityMenu--radio-group {
  @apply inline-flex flex-wrap items-center justify-start rounded-inner border overflow-hidden gap-px bg-revas-neutral-200
}

.AccessibilityMenu--radio-item {
  @apply px-2 py-1 bg-white hover:bg-revas-neutral-100 focus:bg-revas-neutral-100 data-[state=checked]:bg-revas-neutral-100 data-[state=checked]:opacity-60 data-[state=checked]:cursor-not-allowed w-fit min-w-[49.8%] shrink-0 grow text-sm text-center cursor-pointer
}

.AccessibilityMenu--label__small-size {
  @apply text-xs p-2 text-center text-revas-neutral-700 -mb-1
}

/* OTHERS */

.DefaultLinkIcon__small-size {
  @apply w-4 h-4 stroke-1 text-current
}

.rt-ScrollAreaViewport > div {
  @apply min-h-[100%] flex flex-col items-stretch justify-start
}

.rt-ScrollAreaViewport > div {
  display: flex !important;
}