/* VARIABLES YOU CAN USE */
/* --custom-font
--text-base-unit
--text-line-base-unit
--spacing-base-unit
--primary-color
--darker-primary-color
--primary-contrast-color
--border-radius
--border-radius-inner */

:root {
    --background-color: #fbf8f3;
    --display-font: 'Switzer-Extralight', serif
}

* {
    cursor: none !important;
    background-color: var(--background-color) !important;
    font-family: var(--display-font) !important;
    /* Hide the default cursor */
}

#custom-cursor {
    position: fixed;
    z-index: 80;
    pointer-events: none;
    /* Ensure the custom cursor image doesn't interfere with interactions */
    width: 32px;
    /* Adjust the size of your custom cursor image */
    height: 32px;
    transform: translate(-50%, -50%);
    transform-origin: top left;
    /* Center the image under the cursor */
}

svg {
    display: none !important;
}

body {}

html {
    overscroll-behavior: none;
}

.OverrideTextLink__base-size,
.OverrideMainBlock--link {
    text-transform: uppercase !important;
    font-weight: 400;
    font-size: calc(var(--text-base-unit) * 7);
    line-height: calc(var(--text-line-base-unit) * 11);
    color: black !important;
    text-decoration: underline;
    text-decoration-color: inherit;
    text-decoration-style: dotted;
    padding: 0 !important;
    grid-area: d;
    text-align: right;
    gap: 0;
    &::after {
        content: "+";
        display: "inline";
    }
}

/* /LAYOUTS */

/* Default block */

.DefaultBlock {
}

.DefaultBlock--container {
    max-width: none !important;
    align-items: start;
}

.DefaultBlockContainer--first-slot {

}

.DefaultBlockContainer--second-slot {}

.DefaultBlock--items-wrapper {
    max-width: none !important;
}

.DefaultBlock--items-container {
    max-width: none !important;
}

.DefaultBlock--columns-container {
    max-width: none !important;
}

.DefaultBlock--title {
    text-transform: uppercase;
    font-size: calc(var(--text-base-unit) * 16);
    line-height: calc(var(--text-base-unit) * 20);
}
@media screen and (min-width: 1024px) {
    .DefaultBlock--title {
        font-size: calc(var(--text-base-unit) * 24);
        line-height: calc(var(--text-base-unit) * 28);
    }
}

.DefaultBlock--description {
    color: black;
    opacity: 1;
}

.DefaultBlock--attachment {}

/* Main block */

.MainBlock::before {
    display: none;
}

.MainBlock--container {
max-width: none;
padding: calc(var(--spacing-base-unit) * 8) !important;
}

.MainBlockContainer--first-slot {
    display: grid;
    grid-template-areas: "a" "b" "c";
    border-top: 1px solid black;
    &::before {
        content: "";
        display: block;
        height: 100px;
        width: 100%;
    }
}

.MainBlockContainer--second-slot {}

.MainBlock--items-wrapper {
    max-width: none;
}

.MainBlock--items-container {
    max-width: none;
}

.MainBlock--columns-container {
    max-width: none;
}

.MainBlock--title {
    grid-area: b;
    text-transform: uppercase;
    font-size: calc(var(--text-base-unit) * 32);
    line-height: calc(var(--text-base-unit) * 36);
}

.MainBlock--icon {}

.MainBlock--description {
    grid-area: a;
    text-transform: uppercase;
    font-size: calc(var(--text-base-unit) * 8);
    line-height: calc(var(--text-base-unit) * 12);
}

.MainBlock--attachment {}

.MainBlock--link {
    grid-area: c;
}

/* Homepage block */

.Homepage .OverrideDefaultBlock,
.Homepage .OverrideMainBlock {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

/* .Homepage .OverrideDefaultBlock--container,
.Homepage .OverrideMainBlock--container {} */

.Homepage .OverrideDefaultBlockContainer--first-slot,
.Homepage .OverrideMainBlockContainer--first-slot {
    opacity: 0;
    pointer-events: none;
    user-select: none;
}

.Homepage .OverrideDefaultBlock--title,
.Homepage .OverrideMainBlock--title {
    opacity: 0;
    pointer-events: none;
    user-select: none;
}

.Homepage .OverrideDefaultBlock--icon,
.Homepage .OverrideMainBlock--icon {
    opacity: 0;
    pointer-events: none;
    user-select: none;
}

.Homepage .OverrideDefaultBlock--description,
.Homepage .OverrideMainBlock--description {
    opacity: 0;
    pointer-events: none;
    user-select: none;
}

/* .Homepage .OverrideDefaultBlockContainer--second-slot {} */

.Homepage .OverrideDefaultBlock--attachment,
.Homepage .OverrideMainBlock--attachment {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
    overflow: hidden;
    width: 50%;
    max-width: 200px;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    z-index: 20;
    mix-blend-mode: multiply;
}

.Homepage .OverrideDefaultBlock--attachment img,
.Homepage .OverrideDefaultBlock--attachment picture,
.Homepage .OverrideMainBlock--attachment img,
.Homepage .OverrideMainBlock--attachment picture {
    object-fit: contain;
    object-position: center;
}

.Homepage .OverrideDefaultBlock--items-wrapper,
.Homepage .OverrideMainBlock--items-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
    overflow: hidden;
    width: 100%;
    height: 100%;
    z-index: 10;
    max-width: none;
}

.Homepage .OverrideDefaultBlock--items-container,
.Homepage .OverrideMainBlock--items-container {
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: start;
    max-width: none;
}

.Homepage .OverrideBlockItemsGrid {
    flex: 1 1 0%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    gap: calc(var(--spacing-base-unit) * 20);
    grid-template-columns: repeat(2, minmax(0, 1fr));
    max-width: none;
}

@media screen and (min-width: 1024px) {
    .Homepage .OverrideBlockItemsGrid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

.Homepage .OverrideGridBlockItem {
    border-width: 0 !important;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: block;
}

.Homepage .OverrideGridBlockItem--container {
    position: static;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: block;
}

.Homepage .OverrideGridBlockItemContainer--second-slot {
    display: none !important;
}

.Homepage .OverrideGridBlockItemContainer--first-slot {
    position: static;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: block;
    padding: calc(var(--spacing-base-unit) * 8);
}

.Homepage .OverrideGridBlockItem--title {
    display: none !important;
}

.Homepage .OverrideGridBlockItem--description {
    display: none !important;
}

.Homepage .OverrideGridBlockItem--attachment {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.Homepage .OverrideGridBlockItem--attachment img,
.Homepage .OverrideGridBlockItem--attachment picture {
    object-fit: contain;
    object-position: center;
}

/* Portfolio block */

.Portfolio::before {
    content: "";
    display: block;
    width: 100%;
    aspect-ratio: 2 / 1;
}

@media screen and (min-width: 1024px) {
    .Portfolio::before {
        aspect-ratio: 4 / 1;
    }
}

.Portfolio .OverrideDefaultBlock,
.Portfolio .OverrideMainBlock {
    border-top: 1px solid lightgray;
    padding: calc(var(--spacing-base-unit) * 12);
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    padding: calc(var(--spacing-base-unit) * 8) !important;
    max-width: none;
    background-color: var(--background-color) !important;
}

.Portfolio .OverrideMainBlock::before {
    display: none;
}

.Portfolio .OverrideDefaultBlock--container,
.Portfolio .OverrideMainBlock--container {
    grid-column: span 5 / span 5;
}

@media screen and (min-width: 1024px) {

    .Portfolio .OverrideDefaultBlock--container,
    .Portfolio .OverrideMainBlock--container {
        grid-column: span 2 / span 2;
    }
}

.Portfolio .OverrideDefaultBlockContainer--first-slot,
.Portfolio .OverrideMainBlockContainer--first-slot {
    align-items: start;
    justify-content: start;
    padding: 0 !important;
    min-height: 200px;
    display: grid;
    grid-auto-rows: min-content;
    grid-template-areas:
        "a a a b"
        "c c c d";
    grid-auto-columns: minmax(0, 1fr);

    &::before {
        content: var(--portfolio-date);
        display: block;
        grid-area: d;
        text-transform: uppercase;
        font-weight: 400;
        font-size: calc(var(--text-base-unit) * 7);
        line-height: calc(var(--text-line-base-unit) * 11);
        color: black !important;
    }
}

.Portfolio .OverrideDefaultBlock--title,
.Portfolio .OverrideMainBlock--title {
    text-transform: uppercase;
    font-weight: 400;
    font-size: calc(var(--text-base-unit) * 7);
    line-height: calc(var(--text-line-base-unit) * 11);
    color: black !important;
    grid-area: a;
}

.Portfolio .OverrideDefaultBlock--description,
.Portfolio .OverrideMainBlock--description {
    text-transform: uppercase;
    font-weight: 400;
    font-size: calc(var(--text-base-unit) * 7);
    line-height: calc(var(--text-line-base-unit) * 11);
    color: black !important;
    grid-area: c;
}

.Portfolio .OverrideDefaultBlock .OverrideTextLink__base-size,
.Portfolio .OverrideMainBlock .OverrideMainBlock--link {
    text-transform: uppercase !important;
    font-weight: 400;
    font-size: calc(var(--text-base-unit) * 7);
    line-height: calc(var(--text-line-base-unit) * 11);
    color: black !important;
    text-decoration: underline;
    text-decoration-color: inherit;
    text-decoration-style: dotted;
    padding: 0 !important;
    grid-area: b;

    &::after {
        content: "→";
        display: "inline";
    }
}

.Portfolio .OverrideDefaultBlockContainer--second-slot {
    display: none;
}

.Portfolio .OverrideDefaultBlock--attachment,
.Portfolio .OverrideMainBlock--attachment {
    display: none;
}

.Portfolio .OverrideDefaultBlock--items-wrapper,
.Portfolio .OverrideMainBlock--items-wrapper {
    grid-column: span 5 / span 5;
    padding: 0;
    background-color: var(--background-color) !important;
}

@media screen and (min-width: 1024px) {

    .Portfolio .OverrideDefaultBlock--items-wrapper,
    .Portfolio .OverrideMainBlock--items-wrapper {
        grid-column: span 3 / span 3;
    }
}

.Portfolio .OverrideDefaultBlock--items-container,
.Portfolio .OverrideMainBlock--items-container {
    width: 100%;
    max-width: none;
    padding: 0;
    background-color: var(--background-color) !important;
}

.Portfolio .OverrideBlockItemsGrid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    max-width: none;
    padding: 0;
}

.Portfolio .OverrideGridBlockItem {
    border-width: 0 !important;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: block;
    padding: 0;
}

.Portfolio .OverrideGridBlockItem--container {
    position: static;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: block;
}

.Portfolio .OverrideGridBlockItemContainer--second-slot {
    display: none !important;
}

.Portfolio .OverrideGridBlockItemContainer--first-slot {
    position: static;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: block;
    padding: 0;
}

.Portfolio .OverrideGridBlockItem--title {
    display: none !important;
}

.Portfolio .OverrideGridBlockItem--description {
    display: none !important;
}

.Portfolio .OverrideGridBlockItem--attachment {
    width: 100%;
    height: 100%;
    overflow: hidden;
    aspect-ratio: 2 / 1;
}

.Portfolio .OverrideGridBlockItem--attachment img,
.Portfolio .OverrideGridBlockItem--attachment picture {
    object-fit: cover;
    object-position: center;
}

/* LargeGrid block */

.LargeGrid.OverrideDefaultBlock::before,
.LargeGrid.OverrideDefaultBlock::before {
    content: "";
    display: block;
    width: 100%;
    aspect-ratio: 2 / 1;
}

@media screen and (min-width: 1024px) {
    .LargeGrid.OverrideDefaultBlock::before {
        aspect-ratio: 4 / 1;
    }
}

.LargeGrid.OverrideDefaultBlock,
.LargeGrid.OverrideMainBlock {
    padding: 0 !important;
    max-width: none;
    background-color: var(--background-color) !important;
}

.LargeGrid .OverrideMainBlock::before {
    display: none;
}

.LargeGrid .OverrideDefaultBlock--container,
.LargeGrid .OverrideMainBlock--container {
    display: none !important;
}

.LargeGrid .OverrideDefaultBlockContainer--first-slot,
.LargeGrid .OverrideMainBlockContainer--first-slot {
    display: none !important;
}

.LargeGrid .OverrideDefaultBlockContainer--second-slot {
    display: none;
}

.LargeGrid .OverrideDefaultBlock--items-wrapper,
.LargeGrid .OverrideMainBlock--items-wrapper {
    padding-top: 1px !important;
    padding-bottom: 1px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    background-color: lightgray !important;
    max-width: none !important;
}

.LargeGrid .OverrideDefaultBlock--items-container,
.LargeGrid .OverrideMainBlock--items-container {
    width: 100%;
    max-width: none !important;
    padding: 0 !important;
    background-color: var(--background-color) !important;
    background-color: lightgray !important;
}

.LargeGrid .OverrideBlockItemsGrid {
    max-width: none;
    gap: 1px !important;
    padding: 0 !important;
    background-color: lightgray !important;
}

.LargeGrid .OverrideGridBlockItem {
    border-width: 0 !important;
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    display: block;
    padding: 0;
    aspect-ratio: 1 / 1;
}

.LargeGrid .OverrideGridBlockItem--container {
    position: static;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: block;
}

.LargeGrid .OverrideGridBlockItemContainer--second-slot {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: block;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 20;
    aspect-ratio: 1 / 1;
    display: grid;
    grid-auto-rows: min-content;
    grid-template-areas:
        "a b"
        "c d";
    grid-auto-columns: minmax(0, 1fr);
    background-color: transparent;
}

.LargeGrid .OverrideGridBlockItemContainer--first-slot {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: block;
    padding: 0;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.LargeGrid .OverrideGridBlockItem--title {
    text-transform: uppercase;
    font-weight: 400;
    font-size: calc(var(--text-base-unit) * 7);
    line-height: calc(var(--text-line-base-unit) * 11);
    grid-area: a;
}

.LargeGrid .OverrideGridBlockItem--description {
    text-transform: uppercase;
    font-weight: 400;
    text-align: right;
    font-size: calc(var(--text-base-unit) * 7);
    line-height: calc(var(--text-line-base-unit) * 11);
    grid-area: b;
}

.LargeGrid .OverrideGridBlockItem--attachment {
    width: 100%;
    height: 100%;
    overflow: hidden;
    aspect-ratio: 1 / 1;
}
@media screen and (min-width: 1024px) {
    .LargeGrid .OverrideGridBlockItem--attachment {
        width: 60%;
        height: 60%;
        margin: auto;
    } 
}

.LargeGrid .OverrideGridBlockItem--attachment img,
.LargeGrid .OverrideGridBlockItem--attachment picture {
    object-fit: contain;
    object-position: center center;
}

/* Columns */

.OverrideBlockItemsColumns {}

.OverrideMainBlock .OverrideBlockItemsColumns {
   max-width: none !important;
   padding: 0 !important; 
}

.BlockItemsColumns--column {}

.ColumnsBlockItem {
    padding-bottom: 0 !important;
}

.OverrideMainBlock .OverrideColumnsBlockItem--container {
    flex-direction: column-reverse !important;
}

.ColumnsBlockItemContainer--first-slot {}

.ColumnsBlockItemContainer--second-slot {
padding-left: 0 !important;
padding-right: 0 !important;
}

.OverrideColumnsBlockItem--title {
    text-transform: uppercase;
    font-weight: 400;
    font-size: calc(var(--text-base-unit) * 6);
    line-height: calc(var(--text-line-base-unit) * 10);
}

.ColumnsBlockItem--description {
    font-weight: 600;
}

.ColumnsBlockItem--attachment {
    width: fit-content;
    height: fit-content;
}

/* Linear */

.BlockItemsLinear {}

.LinearBlockItem {}

.LinearBlockItem--container {}

@media screen and (min-width: 1024px) {
    .LinearBlockItemContainer--second-slot {
        flex-direction: row;
        align-items: baseline;
        justify-content: start;
    }
}

.LinearBlockItemContainer--first-slot {
    flex-shrink: 0;
    flex-grow: 0;
}

.LinearBlockItem--title {
    flex: 1 1 0%;
}

.LinearBlockItem--description {
    text-transform: uppercase;
    font-weight: 400;
    font-size: calc(var(--text-base-unit) * 6);
    line-height: calc(var(--text-line-base-unit) * 10);
    max-width: 600px;
}
@media screen and (min-width: 1024px) {
    .LinearBlockItem--description {
        text-align: right;
    }  
}

.LinearBlockItem--attachment {
    width: fit-content;
    aspect-ratio: 1 / 1;
}

.LinearBlockItem--attachment img,
.LinearBlockItem--attachment picture {
    object-fit: cover;
}

/* HEADER */

.OverrideHeader {
    background-color: transparent !important;
    width: fit-content;
    margin: auto;
}


.OverrideHeader--desktop-wrapper {
    background-color: transparent !important;
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
}

.OverrideHeader--container {
    background-color: transparent !important;
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
}

.OverrideHeader--logo {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    isolation: isolate;
    mix-blend-mode: multiply;
}

.Header:has(+ div.Page[data-page-slug="index"]) .OverrideHeader--logo {
    display: none;
}

.OverrideHeader--desktop-links {
    justify-content: center;
    width: fit-content;
    gap: calc(var(--spacing-base-unit)*12);
    background-color: transparent !important;
}

.OverrideHeader--desktop-links .OverrideGhostLink__base-size {
    border-radius: 9999px;
    background-color: var(--background-color);
    color: black;
    border: 1px solid black;
    text-transform: uppercase;
    font-weight: 400;
}

.OverrideHeader .OverrideSolidLink__base-size {
    border-radius: 9999px;
    background-color: black;
    color: white;
    border: 1px solid black;
    text-transform: uppercase;
    font-weight: 400;
    padding: var(--spacing-base-unit) calc(var(--spacing-base-unit)*4);
}

.OverrideHeader--desktop-links-wrapper {
    justify-content: center;
    width: fit-content;
    background-color: transparent !important;
}

.OverrideHeader--menu-button {
    position: fixed;
    isolation: isolate;
    bottom: 0;
    right: 0;
    z-index: 50;
    border-radius: 9999px;
    background-color: var(--background-color);
    color: black !important;
    border: 1px solid black;
    text-transform: uppercase;
    font-weight: 400;
    width: fit-content;
    height: fit-content;
    aspect-ratio: 1/1;
    margin: calc(var(--spacing-base-unit) * 8);
}

.OverrideHeader--mobile-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: black !important;
    overflow: hidden;
    z-index: 30;
}

.OverrideHeader--mobile-links {
    width: 100%;
    height: 100%;
    color: white;
    justify-content: end !important;
    align-items: start;
    font-size: calc(var(--text-base-unit) * 20);
    line-height: calc(var(--text-base-unit) * 24);
    background-color: transparent !important;
}

.OverrideHeader--mobile-links a {
    width: 100%;
    height: 100%;
    color: white;
    font-size: calc(var(--text-base-unit) * 12);
    text-transform: uppercase;
    background-color: transparent !important;
}

.OverrideHeader--mobile-main-action {
    color: white;
}

div.z-\[70\] {
    display: none;
}

/* NOTIFICATION */

.Notification {}

.Notification--container {}

.Notification--title {}

.Notification--description {}

.Notification--link {}

/* MAIN ITEM */

.MainItem {}

.MainItem--container {}

.MainItemContainer--first-slot {}

.MainItemContainer--second-slot {}

.MainItem--title {}

.MainItem--description {}

.MainItem--attachment {}

.MainItem--link {}

/* FOOTER */

.Footer {}

.Footer--logo {}

.Footer--container {}

.Footer--links-title {}

.Footer--links {}

.Footer--socials {}

.Footer--authors {}

.Footer--foot {}

.FooterFoot--container {}

/* AUTHOR */

.Author {}

.Author--container {}

.Author--title {}

.Author--description {}

.Author--image {}

.Author--links {}

.Author--link {}

/* SOCIALS */

.SocialLink--icon {}

/* ATTACHMENT */

.Attachment--video {}

.Attachment--figure {}

.AttachmentFigure--picture {}

.AttachmentFigure--caption {}

.AttachmentPicture--source {}

.AttachmentPicture--image {}

/* FEED */

.FeedBlockItem {}

.FeedBlockItem--container {}

.FeedBlockItemContainer--second-slot {}

.FeedBlockItemContainer--first-slot {}

.FeedBlockItem--title {}

.FeedBlockItem--description {}

.FeedBlockItem--date {}

.FeedBlockItem--attachment {}

.FeedBlockItem--attachment-image {}

.FeedPage {}

.FeedPage--header-container {}

.FeedPage--header {}

.FeedPage--title {}

.FeedPage--description {}

.FeedPage--items-container {}

.FeedPage--items {}

/* CONTENT */

.ContentPage {}

.ContentPage--header {}

.ContentHeader--container {}

.ContentHeaderContainer--first-slot {}

.ContentHeaderContainer--second-slot {}

.ContentHeader--feed-title {}

.ContentHeader--title {}

.ContentHeader--description {}

.ContentHeader--published-date {}

.ContentHeader--attachment {}

.ContentPage--content {}

/* ACCESSIBILITY CONFIGURATOR */

.ToolBar--accessibility-configurator {}

.AccessibilityConfigurator--trigger-button {}

.AccessibilityConfigurator--trigger-icon {}

.AccessibilityConfigurator--menu-content {}

.AccessibilityMenu--label {}

.AccessibilityMenu--radio-group {}

.AccessibilityMenu--radio-item {}

.AccessibilityMenu--label__small-size {}

/* ERRORS */

.AppError {}

.AppError--container {}

.AppError--title {}

.AppError--details {}

.AppError--message {}

.AppError--list {}

.DefaultError {}

.DefaultError--title {}

.DefaultError--description {}

.DefaultError--link {}

.DefaultError--details {}

/* OTHERS */

.DefaultLinkIcon__small-size {}

.LoadingBar {}